# IDE / OS
.obsidian/
.DS_Store
*.swp
*.bak
*~

# Simulation & Compilation (VCS)
build/
**/csrc/
**/simv
**/simv.daidir/
**/simv.vdb/
**/ucli.key
**/vc_hdrs.h
*.log

# Waveforms & Debugging (Verdi / DVE)
**/verdiLog/
**/novas.rc
**/novas.conf
**/novas_autosave.ses*
*.fsdb
*.vcd
*.vpd
**/DVEfiles/
verdi_config_file

# Verilator
**/obj_dir/

# Syntheis / Implementation
*.jou
*.pb
*.wdb

*.elf
*.hex
*.dump
*.py
snapshots/
a.out
